.logo{
    width: 100px;
    border-radius: 20px;
    margin: 0px 30px;
   
}

.logo:hover{
   transform: scale(1.05);
   transition: 0.5s;
}

.search-input{
    width: 550px;
    border-radius: 10px;
    margin-left: 15px;
    padding: 4px !important;

}

.icons{
    margin-right: 90px;
}


.profile{
   color: #575757;
}
.profile:hover{
 color: black;
 transform: scale(1.07);
 transition: 0.5s;
}

.profile-text{
    color: #575757;
}

.profile-text:hover{
    color: black;
    transform: scale(1.07);
    transition: 0.5s;
 
}

.cart-text {
    color: #575757;
}
.cart-text:hover{
    color: black;
    transform: scale(1.07);
    transition: 0.5s;
}

.cart{
    width: 50px;
    color: #575757;

}

.cart:hover{
    color: black;
    transform: scale(1.07);
    transition: 0.5s;
}

